header{
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 40px;
}

.header_logo{
    font-size: 24px;
    font-weight: 700;
}
.header_logo span{
    color: rgb(88, 186, 243);
}

.nav{
    font-size: 14px;
    margin-right:15rem;
}
.nav_link{
    text-decoration: none;
    color: #121212;
    margin: 0 30px;
    line-height: 20px;
    transition:  .3s all;
}
.nav_link:hover{
    color: #4D77FF;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn button{
    padding:  12px 30px;
    border: none;
    border-radius: 10px;
    background-color: #4D77FF;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}
.btn a{
    font-size: 14px;
    text-decoration: none;
    color: #121212;
    margin-right: 15px;
    transition:  .3s all;
}
.btn a:hover{
    color: #4D77FF;
}